select#inputServerName
    option Adamantoise
    option Aegis
    option Alexander
    option Anima
    option Asura
    option Atomos
    option Bahamut
    option Balmung
    option Behemoth
    option Belias
    option Brynhildr
    option Cactuar
    option Carbuncle
    option Cerberus
    option Chocobo
    option Coeurl
    option Diabolos
    option Durandal
    option Excalibur
    option Exodus
    option Faerie
    option Famfrit
    option Fenrir
    option Garuda
    option Gilgamesh
    option Goblin
    option Gungnir
    option Hades
    option Hyperion
    option Ifrit
    option Ixion
    option Jenova
    option Kujata
    option Lamia
    option Leviathan
    option Lich
    option Malboro
    option Mandragora
    option Masamune
    option Mateus
    option Midgardsormr
    option Moogle
    option Odin
    option Pandaemonium
    option Phoenix
    option Ragnarok
    option Ramuh
    option Ridill
    option Sargatanas
    option Shinryu
    option Shiva
    option Siren
    option Tiamat
    option Titan
    option Tonberry
    option Typhon
    option Ultima
    option Ultros
    option Unicorn
    option Valefor
    option Yojimbo
    option Zalera
    option Zeromus
    option Zodiark