select#inputInstanceName
    option Akh Afah Amphitheatre (Extreme)
    option Akh Afah Amphitheatre (Hard)
    option The Binding Coil of Bahamut - Turn 1
    option The Binding Coil of Bahamut - Turn 2
    option The Binding Coil of Bahamut - Turn 4
    option The Binding Coil of Bahamut - Turn 5
    option The Bowl of Embers (Extreme)
    option The Bowl of Embers (Hard)
    option The Final Coil of Bahamut - Turn 1
    option The Final Coil of Bahamut - Turn 2
    option The Final Coil of Bahamut - Turn 3
    option The Final Coil of Bahamut - Turn 4
    option The Limitless Blue (Extreme)
    option The Limitless Blue (Hard)
    option The Navel (Extreme)
    option The Navel (Hard)
    option The Second Coil of Bahamut (Savage) - Turn 1
    option The Second Coil of Bahamut (Savage) - Turn 2
    option The Second Coil of Bahamut (Savage) - Turn 3
    option The Second Coil of Bahamut (Savage) - Turn 4
    option The Second Coil of Bahamut - Turn 1
    option The Second Coil of Bahamut - Turn 2
    option The Second Coil of Bahamut - Turn 3
    option The Second Coil of Bahamut - Turn 4
    option The Striking Tree (Extreme)
    option The Striking Tree (Hard)
    option The Whorleater (Extreme)
    option The Whorleater (Hard)
    option Thok ast Thok (Extreme)
    option Thok ast Thok (Hard)
    option Thornmarch (Extreme)
    option Thornmarch (Hard)
    option Urth's Fount