extends layout



block content
    script var user="#{user}";
    h1 Loot Helper
    if char 
        p Welcome, #{char}. view 
            a#btnOwnSessions(href='#') your sessions
            |  or 
            a#btnLogout(href='/logout') logout
            | .
    p Never have problems with calling loot again. 
        unless user
            a#login(href='/login') Login
            |  or 
            a#register(href='/register') register
            | .

    // Wrapper
    #wrapper
        // ADD USER
        if char
            #createSession
                h2 Create Session
                fieldset
                    include createserverlist
                    br
                    include instancelist
                    br
                    button#btnCreateSession Create Session
            // /ADD USER
        // USER LIST
        h2#header Session List 
        #sessionList
            table
                thead
                    th: include serverlist
                    th Instance
                    th Leader
                tbody
        // /USER LIST

        

    // /WRAPPER
