extends layout

block content
    h1 Loot Helper
    #wrapper
        if user == owner
            #createSession
                h2 Add Member
                fieldset
                    input#inputMemberName(type='text', placeholder='Member name')
                    br
                    input#inputMemberLoot(type='text', placeholder='Loot')
                    br
                    button#btnAddMember Add Member
        h2 Members
        #memberList
            table
                thead
                    th Name
                    th Loot
                    th Remove
                tbody