extends layout

block content
    h1 Loot Helper
    #wrapper
    
        if user == owner
            #modifySession
                br
                h2 Edit Session
                    br
                    button#btnUpdate Save Changes
                    br
                    button#btnDelete Delete Session
        h2 Members
            #memberList
                table
                    thead
                        th Name
                        th Loot
                    tbody
                        fieldset